body{
	
	background-color: #0e0f0f;
	margin:3px auto auto auto;
    font-family: sans-serif, Helvetica;
    color:white;
	}


.navigation{
 margin-left: 100px;
 font-color: white;
 text-decoration:none;
	
	
}