

@extends('_master')

@section('title')
  Login to edit your itineraries
@stop

@section('content')


<h5 style= "backgroung-color:green;"> Your trip has been saved! Check out all itineraries! </h5>


@stop